<table id="distribute_counts_by_design_plate" class="report_table tksort">
    <thead>
        <tr>

            <th id='plate' class="noedit">Marker Symbol</th>
            <th id='plate' class="noedit">Ensembl Gene</th>
            <th id='plate' class="noedit">Vega Gene</th>
            <th id='plate' class="noedit">Design Plate</th>
            <th id='plate' class="noedit">Design Well</th>
            <th id='plate' class="noedit">Intvec Plate</th>
            <th id='plate' class="noedit">Intvec Well</th>
        </tr>
    </thead>
    <tbody>
        [% FOR row IN rows -%]
          <tr>
            <td>[% row.MARKER_SYMBOL %]</a></td>
            <td>[% row.ENSEMBL_GENE_ID %]</a></td>
            <td>[% row.VEGA_GENE_ID %]</a></td>
            <td>[% row.DESIGN_PLATE_NAME %]</a></td>
            <td>[% row.DESIGN_WELL_NAME %]</a></td>
            <td>[% row.PCS_PLATE_NAME %]</a></td>
            <td>[% row.PCS_WELL_NAME %]</a></td>
          </tr>
        [% END %]
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    var well_table =
        new TableKit(
            'distribute_counts_by_design_plate',
            { editable: false, }
        );
</script>
